/* Dracula (dark) — linked to colors.rasi by bspwm/theme-apply.
   https://gist.github.com/EgZvor */
* {
    opaque: 	rgba ( 40, 42, 54, 0 % );
    gray: 	rgba ( 68, 71, 90, 100 % );
    light-gray: 	rgba ( 98, 114, 164, 100 % );

    white: 	rgba ( 248, 248, 242, 100 % );
    background: 	rgba ( 40, 42, 54, 100 % );
    current-line: 	rgba ( 68, 71, 90, 100 % );
    selection: 	rgba ( 68, 71, 90, 100 % );
    foreground: 	rgba ( 248, 248, 242, 100 % );
    cyan: 	rgba ( 139, 233, 253, 100 % );
    green: 	rgba ( 80, 250, 123, 100 % );
    orange: 	rgba ( 255, 184, 108, 100 % );
    pink: 	rgba ( 255, 121, 198, 100 % );
    purple: 	rgba ( 189, 147, 249, 100 % );
    red: 	rgba ( 255, 85, 85, 100 % );
    yellow: 	rgba ( 241, 250, 140, 100 % );
}
